body {
    font-family: sans-serif;
}

p, textarea {
    font-size: 20px;
}

textarea {
    width: 40%;
    padding: 10px;
}

#tryAgain {
    display: none;
}
h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    justify-content: center;
}

body{
    background-color: blue;
}

p{
    text-align: center;
}

#typedWord {
    text-align: center;
    display: none;
    margin: auto;
}
.text-area {
    text-align: center;
}
.started {
    display: flex;
    justify-content: center;
}


.try-again {
    display : flex;
    justify-content: center;
}

.score-option{
    display: none;
}

.time {
    display: none;
}
#timeIntrval {
    display: flex;
    justify-content: center;
}